
.root{
    /* Colors */
    -cf-primary-color: #6690FF;
    -cf-success-color: #33C651;
    -cf-info-color: #52A8F9;
    -cf-warn-color: #FFA10A;
    -cf-danger-color: #FF4C3F;

    -cf-text-color:#303133;
    -cf-border-color:#CDD0D6;
    -cf-base-color:#F2F3F5;
}

.h1,.h2,.h3,.h4,.h5,.h6{
    /* normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 */
    -fx-font-weight: bold;
    -fx-text-fill: -cf-text-color;
}
.h1 {
    -fx-font-size: 32px;
}
.h2 {
    -fx-font-size: 24px;
}
.h3 {
    -fx-font-size: 18.72px;
}
.h4 {
    -fx-font-size: 16px;
}
.h5 {
    -fx-font-size: 13.28px;
}
.h6 {
    -fx-font-size: 12px;
}
.text-default, .text-small{
    -fx-text-fill: -cf-text-color;
}
.text-default{
    -fx-font-size: 14px;
}
.text-small{
    -fx-font-size: 12px;
}

.cf-link{
    -fx-border-width:0;
    -fx-font-size:14px;
    -fx-text-fill: -cf-text-color;
    -fx-underline: false;
}
.cf-link:hover{
    -fx-underline: true;
}
.cf-link.primary{-fx-text-fill: -cf-primary-color;}
.cf-link.success{-fx-text-fill: -cf-success-color;}
.cf-link.info{-fx-text-fill: -cf-info-color;}
.cf-link.warn{-fx-text-fill: -cf-warn-color;}
.cf-link.danger{-fx-text-fill: -cf-danger-color;}

.cf-tooltip{
    -fx-font-size: 12px;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-padding: 5px;
}
.cf-tooltip.light{
    -fx-background-color:rgb(255,255,255);
    -fx-text-fill: -cf-text-color;
}
.cf-tooltip.dark{
    -fx-background-color: -cf-text-color;
    -fx-text-fill:rgb(255,255,255);
}

.cf-separator:horizontal > .line {
/*    -fx-background-color: null;
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; *//* 1 0 0 0 */
    -fx-border-color: -cf-border-color transparent transparent transparent;
}

.cf-separator:vertical > .line {
/*    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; *//* 0 1 0 0 */
    -fx-border-color:  transparent -cf-border-color transparent transparent;
}

/* 滚动条样式 */
.scroll-bar-style{
    -fx-background-color: transparent;
}
.scroll-bar-style > .viewport{
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar{
    /*-fx-block-increment:10000;*/
    -fx-unit-increment:20;
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar-style .scroll-bar > .increment-button > .increment-arrow{
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar:vertical > .decrement-button,
.scroll-bar-style .scroll-bar:vertical > .increment-button{
    -fx-pref-height:0px;
    -fx-pref-width:0.01px;
}
.scroll-bar-style .scroll-bar:horizontal > .decrement-button,
.scroll-bar-style .scroll-bar:horizontal > .increment-button{
    -fx-pref-width:0px;
    -fx-pref-height:0.01px;
}
.scroll-bar-style .scroll-bar > .track{
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
}
.scroll-bar-style .scroll-bar:vertical > .thumb, .scroll-bar-style .scroll-bar:horizontal > .thumb{
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0px;
    -fx-background-radius: 3px;
}
.scroll-bar-style .scroll-bar:vertical{
    -fx-padding:6px 0px 6px 0px;
}
.scroll-bar-style .scroll-bar:horizontal{
    -fx-padding:0px 6px 0px 6px;
}
.scroll-bar-style .scroll-bar:vertical > .thumb,.scroll-bar-style .scroll-bar:vertical > .track{
    -fx-background-insets: 0px 0px 0px -6px;
}
.scroll-bar-style .scroll-bar:horizontal > .thumb,.scroll-bar-style .scroll-bar:horizontal > .track{
    -fx-background-insets: -6px 0px 0px 0px;
}