#localDownLoadRootPane {
    -fx-background-color: white;
}
#downloadingHBox {
    -fx-background-color: rgba(254, 244, 244, 1);
    -fx-text-fill: rgb(236,65,65);
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

#fileChoose {
    -fx-background-color: gray;
    -fx-shape: 'M510.4 243.2c8 27.2 33.6 44.8 60.8 44.8h259.2c0-35.2-28.8-64-64-64H504l6.4 19.2zM484.8 160h281.6c70.4 0 128 57.6 128 128v25.6c30.4 24 51.2 60.8 51.2 102.4v384c0 70.4-57.6 128-128 128H208c-70.4 0-128-57.6-128-128V224c0-70.4 57.6-128 128-128h164.8c46.4 0 89.6 25.6 112 64z m-112 0H208c-35.2 0-64 28.8-64 64v576c0 35.2 28.8 64 64 64h608c35.2 0 64-28.8 64-64V416c0-35.2-28.8-64-64-64H574.4c-56 0-105.6-36.8-121.6-89.6l-19.2-57.6c-8-27.2-32-44.8-60.8-44.8zM272 704h256c17.6 0 32 14.4 32 32s-14.4 32-32 32H272c-17.6 0-32-14.4-32-32s14.4-32 32-32z';
}

.table-view,.table-view .column-header-background,
.table-view .column-header-background > *, .table-view .table-column{-fx-background-color: transparent;}
/*.table-view .nested-column-header{-fx-background-color:rgb(230,230,230);-fx-pref-height:40px;}*/
.table-view .nested-column-header{
    -fx-background-color:rgb(255,255,255);
    -fx-pref-height:40px;
}
.table-view .table-column .label{
    -fx-alignment:center-left;
    -fx-text-fill:rgb(136,136,136);
}
.table-cell{
    -fx-border-width: 0;
    -fx-text-fill:rgb(136,136,136);
    -fx-font-size: 13px;
    -fx-alignment:center-left;
}

/* 第一列数据整体居中不靠左*/
.first-column .table-cell{
    -fx-alignment:center;
}

.table-row-cell{
    -fx-background-color: white;
    -fx-cell-size:40px;
}
.table-row-cell:hover{
    -fx-background-color: rgba(228,228,228,0.5);
}
.table-row-cell:selected{
    -fx-background-color:rgba(228,228,228,0.7);
}
.table-row-cell:empty{
    -fx-background-color: transparent;
}
.table-view .placeholder .label{
    -fx-text-fill:rgb(136,136,136);
    -fx-font-size:18px;
    -fx-alignment:center-left;
}

/*拖动条*/
.table-view .scroll-bar {
    -fx-background-color:transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}
.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}


.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color:transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}
.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
}
