#playDetail {
    -fx-background-color: white;
}
.spectrum-pane,  .lrc-pane {
    -fx-border-width: 0;
}

/* 频谱可视化组件 */
.rx-audio-spectrum {
    /*频谱柱子的形状*/
    -rx-bar-shape: "M838.374502 504.860558q2.039841 8.159363 5.099602 17.338645l4.079681 16.318725q2.039841 8.159363 2.039841 13.258964 0 28.557769-15.298805 50.486056t-39.776892 32.12749q-9.179283 1.01992-19.378486 1.01992-8.159363 1.01992-18.358566 1.01992l-19.378486 0-159.10757 2.039841 0 170.326693q0 37.737052 1.52988 75.984064t3.569721 68.844622q2.039841 36.717131 5.099602 70.374502l-146.868526 0 3.059761-39.776892q1.01992-23.458167 2.039841-63.74502t1.01992-107.601594l0-156.047809q-17.338645 15.298805-38.756972 15.298805-17.338645 0-30.087649-8.159363t-20.908367-22.438247l-115.250996-6.119522q-33.657371-8.159363-56.095618-34.167331t-22.438247-61.705179q0-6.119522 1.01992-11.219124t3.059761-10.199203l25.498008-59.155378q2.039841-22.438247 12.749004-41.816733t27.027888-33.657371l160.12749-296.796813 1.01992 0q19.378486-35.697211 45.896414-61.195219t68.334661-25.498008q36.717131 0 65.784861 19.378486t43.346614 50.996016l128.50996 251.920319q34.677291 12.239044 57.115538 42.836653t22.438247 70.374502q0 16.318725-5.099602 34.677291z";
    -rx-crest-pos: DOUBLE;
}

.rx-audio-spectrum .bar-box {
    -fx-spacing: 2;
}
.rx-audio-spectrum .bar {
    -fx-background-color: #ff0a0a;
    -fx-pref-width: 3px;
    /*初始化时候的高度*/
    -fx-max-height: 0px;
}
/* LrcView 歌词显示组件*/
.rx-lrc-view {
    -fx-border-color: transparent;
    -fx-border-width: 1.0;
    -rx-line-height: 50;
    -fx-font-size: 19;
    /*字体*/
    -fx-font-family: "华文行楷";
}

.rx-lrc-view .lrc-line {
    -fx-alignment: center;
    -fx-text-fill: black;
}

.rx-lrc-view .lrc-line:playing {
    -fx-text-fill: red;
}
